.container {
    margin-top: 50px;
}

/* * {
    font-size: 16pt;
} */

button {
    width: 100%;
}

.list {
    text-align: center;
    margin-top: 20px;
}

.list .list-item {
    margin-bottom: 10px;
}